<script setup>
import Login from '../components/Login.vue';
import { ref } from "@vue/reactivity"
import QuizParams from "../components/QuestionsFrame.vue";
import { useRouter } from "vue-router";

const router = useRouter();
const logedIn = ref(false);

const routeQuiz = () => {
    router.push("/questionspage")
}

const handleAuthSuccess = () => {
    logedIn.value = true;
};
</script>

<template>
    <main>
        <div>
            <Login @onAuthSuccess="handleAuthSuccess"/>
            <QuizParams v-if="logedIn" @onQuizFetchSuccess="routeQuiz"/>
        </div>
    </main>
</template>
