<template>
  <div>
  <Questions :currentQuestion="questionNumber" v-model:questionText="questions[questionNumber]"/>
  <span v-for="alternative in alternatives[questionNumber]" :key="alternative">
    <br />
    <QuestionsAnswers :alternative="alternative" @clicked="onClicked" />
    <br />
  </span>
</div>

</template>

<script setup>
    import Questions from "../components/Questions.vue";
    import QuestionsAnswers from "../components/QuestionAnswers.vue";

    import { useRouter } from "vue-router";
    import { useStore } from "vuex";
    import { computed } from "vue";

    const store = useStore();
    const router = useRouter();

    const questions = computed(() => store.getters.questions);
    const questionsNumber = computed(() => store.state.questionIndex);
    const alternatives = computed(() => store.state.shuffleAlternatives);

    const onClick = (answer) => {
        store.commit("pushSubmittedAnswer")
        store. dispatch("iterateQuestionIndex")

        if (questionsNumber.value >= questions.value.length){
            router.push("/results")
        }
    }

</script>

<style scoped>
</style>