<template>
    <h1 v-if="newHighScore">New highscore!</h1>
  <h2>Your Score: {{ score }}</h2>
  <div>
    <ul v-for="obj in questions" :key="obj.question">
      <Questions :currentQuestion="obj.index" :questionText="obj.question" />
      <br />
      <li>
        <ul v-for="a in obj.alternatives" :key="a">
          <Results
            :alternative="a"
            :correctAnswer="obj.correct_answer"
            :userAnswer="obj.answer"
          />
          <br />
        </ul>
        <br />
      </li>
    </ul>
  </div>
 


  <button @click="playAgain"> PLAY AGAIN </button>
  <button @click="home">HOME</button>

</template>

<script setup>
    import Questions from "../components/Questions.vue";
    import Results from "../components/Results.vue";
    import { useStore } from "vuex";
    import { useRouter } from "vue-router";

const store = useStore();
const router = useRouter();
const questions = store.getters.questionsAndAnswers;

let user = store.state.user;

let score=0;
let newHighScore=false;
for(i=0;i<questions.length;i++){
    let obj = questions[i];
    if(obj.correct_answer === obj.answer) {
        score += 10;
    }
}

if (score > yser.highScore) {
    newhighScore = true;
    store.commit("setHighScore", score);
    store.dispatch("pushNewHighScore");
}

const playAgain = () => {
    console.log("PLAY AGAIN");
    store.dispatch("fetchQuestion");
    router.push("/questionspage")
}
</script>

<style scoped>
</style>