<script setup>
    import { getUser, createUser } from '../api/usersApi';
    import { ref } from 'vue';
    import { useStore } from 'vuex';

    const username = ref("")
    const displayError = ref("")

    const store = useStore()
    const emit = defineEmits("onAuthSuccess")

    // handles login button
    const onLoginClick = async () => {

        let [error, user] = await getUser(username.value)

        if (!error){
            store.commit("setUser", user);
        } else if(error === "Could not found the user"){
            [error, user] = await createUser(username.value)
            store.commit("setUser", user)
        }
        if (user) {
            emit("onAuthSuccess")
        }
        displayError.value = error;
    };
    
</script>

<template>

    <main>
        <h1>Login to get started</h1>
        <form>
            <fieldset class="mb-3">
                <label for="username" aria-label="Username" >Username</label>
                <input type="text" id="username" class="rounded border-4" placeholder="type in a username" v-model="username"/>
            </fieldset>
            <button @click="onLoginClick" type="button" class="bg-indigo-500 rounded text-white p-4">Login</button>
        </form>
         <div v-if="displayError" class="bg-light-matt text-white p-3">
            <span class="block text-xl mb-3">Error</span>
            <p>{{ displayError }}</p>
        </div>
    </main>

</template>

