<template>
    <h2>Trivia question {{ thisQuestion+1 }}</h2>
    <p>{{ triviaText }}</p>
</template>

<script setup>

    const props = defineProps({
        thisQuestion: {
            required: true,
            type: Number
        },
        triviaText: {
            required: true,
            type: String
        },
    });

</script>

<style scoped>
</style>