<template>
<div>
    <button @click="onClick">{{ answers }}</button>
</div>

</template>

<script setup>
    const props = defineProps({
        answers: {
            required: true,
            type: [ String, Boolean ]
        }
    });

    const emit = defineEmits(["clicked"]);


    // handles button click
    const onClick = () => {
        emit("clicked", props.alternative);
    };
</script>