<template>
  <main>
    <form @submit.prevent="onSubmit">
      <p>Number of questions</p>
      <input type="number" min="1" max="50" v-model="numberOfQuestions"/>
      <p>Select Categories</p>
      <select name="categories" v-model="selectedCategory">
        <option value="">Any Category</option>
        <option
          v-for="category in categories"
          :key="category.id"
          :value="category.id">
          {{ category.name }}
        </option>
      </select>

      <p>Choose difficulty</p>
      <select name="difficulty" v-model="selectedDifficulty">
        <option value="">Any Difficulty</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
      <p>Select Type</p>

      <select name="type" v-model="selectedType">
        <option value="">Any Type</option>
        <option value="boolean">True / False</option>
        <option value="multiple">Multible Choice</option>
      </select>

      <button class="rounded">Start Quiz</button>
    </form>
  </main>
</template>

<script setup>
import { onBeforeMount } from "@vue/runtime-core";
import { useStore } from "vuex";
import { computed, ref } from "vue";
const store = useStore();
const emit = defineEmits("onQuizFetchSuccess");

onBeforeMount(async () => {
  await store.dispatch("getCategories");
});

//Quiz Params
const categories = computed(() => store.state.categories);
const selectedCategory = ref("");
const selectedDifficulty = ref("");
const numberOfQuestions = ref(10);
const selectedType = ref("");

// get questions with right parameters
const onSubmit = async () => {
  await store.dispatch("getToken");
  const quizParam = {
    category: selectedCategory.value,
    difficulty: selectedDifficulty.value,
    amount: numberOfQuestions.value,
    type: selectedType.value,
  };
  store.commit("setQuizParams", quizParam);
  await store.dispatch("getQuestions");
  emit("onQuizFetchSuccess");
};
</script>
