<template>
    <main>
    <div>
        <span v-if="userAnsweredCorrect">
            <p class="bg-green">{{ answers }}</p>
        </span>

        <span v-else-if="userAnsweredWrong">
            <p class="bg-red">{{ answers }}</p>
        </span>

        <span v-else >
            <p>{{ answers }}</p>
        </span>
    </div>
    </main>
</template>

<script setup>
//Iam easteregg:)
    const props = defineProps({
        answers: {
            required: true,
            type: String,
        },
        userAnswer: {
            required: true,
            type: String
        },
        correct: {
            required: true,
            type: String
        }
    });

    const isCorrect = props.answers === props.correct;
    const userAnswered = props.userAnswer === props.answers;
    const userAnsweredWrong = !isCorrect && userAnswered;
    const userAnsweredCorrect = isCorrect && userAnswered;

</script>

<style scoped>
</style>
